<div class="page-wrapper">

  <h2 class="section-title">Login Page</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-card">

    <div class="top-bar">LOGIN</div>

    <div *ngIf="errorMessage" [ngClass]="isSuccess ? 'success-box' : 'error-box'">
      {{ errorMessage }}
    </div>

    <div class="row">
      <div class="welcome">Welcome Back</div>
    </div>

    <!-- EMAIL / USERNAME -->
    <div class="row label-row">Email / Username</div>

    <div class="row input-row">
      <span class="bracket">[</span>

      <input
        type="text"
        formControlName="identifier"
        placeholder="email or username"
      >

      <span class="bracket">]</span>
    </div>

    <div
      *ngIf="loginForm.get('identifier')?.invalid && loginForm.get('identifier')?.touched"
      style="
        color: red;
        font-size: 10px;
        text-align: center;
        padding-bottom: 8px;
      "
    >
      Email or username is required.
    </div>

  

    <div class="row label-row">Password</div>

    <div class="row input-row">
      <span class="bracket">[</span>

      <input
        type="password"
        formControlName="password"
        placeholder="••••••••"
      >

      <span class="bracket">]</span>
    </div>

    <!-- LOGIN BUTTON -->
    <div class="row">
      <button
        type="submit"
        [disabled]="loginForm.invalid"
        class="login-button"
      >
        LOG IN
      </button>
    </div>

    <!-- REGISTER LINK -->
    <div class="row register-link">
      Don't have an account?
      <a routerLink="/register">Register here</a>
    </div>

  </form>

</div>
