<header class="tv-header">
  <h1 routerLink="/homepage-tv" style="cursor: pointer;">TuneVault</h1>

  <nav class="tv-nav">
    <a routerLink="/homepage-tv" routerLinkActive="active">Home</a>
    <a routerLink="/music-library" routerLinkActive="active">Music Library</a>
    <a routerLink="/search" routerLinkActive="active">Search</a>
    <a routerLink="/playlists" routerLinkActive="active">Playlists</a>
    <a routerLink="/upload" routerLinkActive="active">Upload MP3</a>
  </nav>
</header>

<router-outlet></router-outlet>
<app-audio-player [song]="currentSong"></app-audio-player>
